<p> These are the flashcards </p>
<ul>
<% @flashcards.each do |card| %>
  <li>name:
    <%= card.name %></li>
    <li>description:
    <%= card.description %></li>
      <li>question:
    <%= card.question %></li>
       <li>answer:
   <%= card.answer %></li>
   <li>tags:
   <%= card.tags %></li>
   <%= button_to "Delete card", { action: "destroy", id: card.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>
</ul>