<p> These are the flashcards </p>
<p> The lorem card is </p>
<p>*********************************</p>
<ul class="new_lorem">
  <li class="lorem_name"><%=@lorem_card.name%></li>
  <li class="lorem_description"><%=@lorem_card.description%></li>
  <li class="lorem_question"><%=@lorem_card.question%></li>
  <li class="lorem_answer"><%=@lorem_card.answer%></li>
  <li class="lorem_tags"><%=@lorem_card.tags%></li>
</ul>
<form action="">
  <input class="create_lorem" type="submit" value="create this card">
</form>
<div class="editCardFormArea"></div>
<p>*********************************</p>


<ul class="cardDisplay">
<% @flashcards.each do |card| %>
  <li>name:
    <%= card.name %></li>
    <li>description:
    <%= card.description %></li>
      <li>question:
    <%= card.question %></li>
       <li>answer:
   <%= card.answer %></li>
   <li>tags:
   <%= card.tags %></li>

   <%= button_to "Edit card", {:action=>"edit", :controller=>"flashcards", id: card.id, } , method: :get, remote: true,  form_class: "button_to_edit", id: card.id%>
   <%= button_to "Delete card", { action: "destroy", id: card.id},
                                method: :delete , data: { confirm: "Are you sure?" } %>



<% end %>
</ul>


<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>

<script id="edit-card-template" type="text/x-handlebars-template">
    <p>Edit Card</p>
    <div>
      {{name}}<br>
      {{description}}<br>
      {{question}}<br>
      {{answer}}<br>
      {{tags}}<br>
    </div>
  </div>
</script>

